@model IEnumerable<SchoolManagement.BusinessLogic.Dto.StudentMarkDTO>

@{
    ViewData["Title"] = "Student Mark";
}
<div class="content">
    <div class="title-info">
        <p>Student Mark</p>
        <i class="fas fa-chart-bar"></i>
    </div>



<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentDTO.FirstName)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.StudentDTO.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialsDTO.LessonsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>      
            <th>
                @Html.DisplayNameFor(model => model.ExamType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StudentDTO.FirstName)
            </td>          
            <td>
                    @Html.DisplayFor(modelItem => item.StudentDTO.LastName)
            </td>         
            <td>
                    @Html.DisplayFor(modelItem => item.MaterialsDTO.LessonsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamType)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.GradeID" class="button">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.GradeID" class="button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
