@model IEnumerable<SchoolManagement.BusinessLogic.Dto.ApplicationUserDTO>


<div class="content">
    <div class="title-info">
        <p>Users List</p>
        <i class="fas fa-chart-bar"></i>
    </div>


<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    @string.Join(" , ",user.Roles.ToList())
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="button">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
