@model IEnumerable<SchoolManagement.BusinessLogic.Dto.AttendanceDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentDTO.FirstName)  
            </th>       
            <th>
                @Html.DisplayNameFor(model => model.StudentDTO.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialsDTO.LessonsName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StudentDTO.FirstName) 
            </td>       
            <td>
                    @Html.DisplayFor(modelItem => item.StudentDTO.LastName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                    @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialsDTO.LessonsName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AttendanceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AttendanceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AttendanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
