@model IEnumerable<SchoolManagement.BusinessLogic.Dto.ClassDTO>

@{
    ViewData["Title"] = "Classes";
}
<div class="content">
    <div class="title-info">
        <p>Classes</p>
        <i class="fas fa-chart-bar"></i>
    </div>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassID)
            </th>      
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassID)
            </td>     
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ClassID" class="button">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClassID" class="button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
