@model IEnumerable<SchoolManagement.DataAccess.Models.Semester>

@{
    ViewData["Title"] = "Semester";
}
<div class="content">
    <div class="title-info">
        <p>Semester</p>
        <i class="fas fa-chart-bar"></i>
    </div>


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemesterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.SemesterId" class="button">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SemesterId" class="button">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SemesterId" class="button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
